.text-center {
    margin-bottom: 134px;
}

.text-center:hover {
    
    background-color: black;
    color: white;
}

.text-center:hover p{
    
    background-color: black;
    color: white;
   
}
.text-center:hover h4{
    
    background-color: black;
    color: white;
}

.text-center p {
    position: relative;
    display: inline-block;
    max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    width: 200px;
    
}


.about {
    text-align: center;
    margin-top: 109px;
    margin-bottom: 47px;
}